<div class="contact-section">
    <div class="container">
        <div class="contact-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="contact-img">
                        <img src="assets/img/contact.jpg" alt="contact image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="contact-text">
                        <div class="section-head">
                            <h2>We Love to <span> Hear from You</span></h2>
                            <p>Feel free and share with us. We will get you</p>
                        </div>

                        <div class="contact-form">
                            <form id="contactForm">
                                <div class="row">
                                    <div class="col-md-12 col-sm-6">
                                        <div class="form-group mb-3">
                                            <input type="text" name="name" id="name" class="form-control"
                                                placeholder="Your Name">
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-6">
                                        <div class="form-group mb-3">
                                            <input type="email" name="email" id="email" class="form-control"
                                                placeholder="Your Email">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group mb-3">
                                            <textarea name="message" class="form-control" id="message" cols="30"
                                                rows="5" placeholder="Your Message"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn page-btn">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <div class="logo">
                        <a routerLink="/">
                            <img src="assets/img/logo-2.png" alt="logo">
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, tur adipiscing elit, sed do eiusmod tempor contratc.</p>

                    <div class="email">
                        <form class="newsletter-form">
                            <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL">
                            <button class="default-btn electronics-btn" type="submit"><i
                                    class="icofont-location-arrow"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget pl-40">
                    <h3>Services</h3>

                    <ul>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/service-details">Low Cost</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/service-details">Fastest Service</a>
                        </li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/service-details">Professional
                                Cleaning</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/service-details">Home Cleaning</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/service-details">Office Cleaning</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget pl-40">
                    <h3>Quick Links</h3>

                    <ul>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/index">Home</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/about">About Us</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/blog">Blog</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/team">Team</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/testimonial">Testimonial</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3>Find Us</h3>
                    <p class="find-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.</p>

                    <ul class="find-us">
                        <li>
                            <i class="icofont-location-pin"></i>36 Av. De La République, 37300 Joué-Lès-Tours
                        </li>
                        <li>
                            <i class="icofont-phone"></i>
                            <a href="tel:+880123456789">+33 0673034976</a>
                        </li>
                        <li>
                            <i class="icofont-ui-message"></i>
                            <a href="mailto:cleantout37@gmail.com">cleantout37@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="bottom-footer">
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-lg-6">
                    <div class="footer-social">
                        <ul>
                            <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>             
                            <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="copyright-text text-end">
                        <p>&copy;2021 Kiaz. All Rights Reserved By <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</footer>

<div class="top-btn">
    <i class="icofont-scroll-long-up"></i>
</div>