<div class="home-section">
    <div class="home-slider-area owl-carousel owl-theme">
        <div class="home-slider-item items-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="home-text">
                            <h1>Votre foyer hygiénique Notre responsabilité</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore
                                et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Viverra maecenas
                                accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida.</p>
                            <div class="theme-button">
                                <a routerLink="/about" class="default-btn active-btn">Savoir plus</a>
                                <a routerLink="/contact" class="default-btn">Commencer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-slider-item items-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="home-text">
                            <h1>Nous fournissons un service de haute qualité</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore
                                et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Viverra maecenas
                                accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida.</p>
                            <div class="theme-button">
                                <a routerLink="/about" class="default-btn active-btn">Savoir plus</a>
                                <a routerLink="/contact" class="default-btn">Commencer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-slider-item items-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="home-text">
                            <h1>Notre processus de travail est unique</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore
                                et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Viverra maecenas
                                accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida.</p>
                            <div class="theme-button">
                                <a routerLink="/about" class="default-btn active-btn">Savoir plus</a>
                                <a routerLink="/contact" class="default-btn">Commencer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="service-style-three pt-100 pb-70">
    <div class="container">
        <div class="section-head text-center">
            <h2>Pourquoi Nous Choisir ?</h2>
            <p>Chez Clean tout 37, nous nous spécialisons dans le nettoyage de canapés et de moquettes
                en offrant un service inégalé qui place les besoins de nos clients au premier plan..</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class="flaticon-award"></i>
                    <h3>Garantie 100% Satisfait</h3>
                    <p>Nous ne faisons pas que nettoyer, nous revitalisons vos textiles.</p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card active-service">
                    <i class="flaticon-credit-card"></i>
                    <h3>Paiement Après Intervention</h3>
                    <p>Avec la garantie de satisfaction, vous ne payez qu'après avoir constaté les résultats !</p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class="flaticon-clock"></i>
                    <h3>Rapide et Flexible</h3>
                    <p>Bénéficiez d'un service rapide et flexible.</p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class="flaticon-cleaning-spray"></i>
                    <h3>Service Personnalisé</h3>
                    <p>Profitez d'un service personnalisé, adapté à vos besoins spécifiques.</p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class="flaticon-clean-house"></i>
                    <h3>Compétences interpersonnelles</h3>
                    <p>Nous faisons preuve des qualités personnelles dans le cadre de notre travail.</p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class="flaticon-wiper"></i>
                    <h3>Connaissances techniques</h3>
                    <p>Exploiter nos connaissances des pratiques d'entretien.</p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-shape">
            <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
            <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
            <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
            <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
            <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
        </div>
    </div>
</div>
</div>
</div>

<div class="service-style-two pt-100">
    <div class="container">
        <div class="section-head text-center">
            <h2>Viscous Provided <span>Services</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore et
                dolore magna aliqua.</p>
        </div>

        <div class="service-slider-wrapper owl-carousel owl-theme">
            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/1.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/2.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/3.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/4.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/5.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/6.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/7.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/8.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/9.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center bg-white">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="assets/img/10.jpg" alt="service image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-text-two">
                        <h4>House Cleaning</h4>
                        <p>It is a long fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Kitchen Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Balcony</li>
                            <li><i class="icofont-check-circled"></i> Floor Cleaning</li>
                            <li><i class="icofont-check-circled"></i> Bathroom</li>
                            <li><i class="icofont-check-circled"></i> Window Cleaning</li>
                        </ul>

                        <div class="theme-button">
                            <a routerLink="/service" class="default-btn">More Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>